body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 247, 237);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 70px;
    line-height: 70px;
    background-color: white;
    display: flex;
    align-items:center;

}

main {
    margin: 40px 10%;
    background-color: white;
    border-radius: 20px;
}

.cardhead {
    padding: 25px 20% 20px;
}

details {
    padding: 10px 18% 20px;
}

.logo {
    background-repeat: no-repeat;
    padding: 10px;
    display: inline-block;
    height: 40px;
    }

div.task::before {
    height: 1rem;
    width: 1rem;
    background-color: white;
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    text-align:center;
    font-size: 0.9rem;
    margin: 10px 10px 0px 2px;
}

div.true::before {
    color: green;
    content: "✓" ;
}

div.false::before {
    color: red;
    content: "x"
}

summary {
    font-size: 1.3rem;
    font-weight: bold;
}

h1 {
    margin: 5px;
    display: inline-block;
    font-size: 1.5rem;
}

.btn {
    display: inline-block;
    font-size: 1rem;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    color: white;
    border: 1px solid currentColor;
}

.btn.btnprimary {
    background-color: rgb(88, 170, 230);
}

.btn.btnoutlined {
    background-color: transparent;
    color: grey;
}

.task {
    padding-left: 0.5rem;
    color: rgba(0, 0, 0, 0.8);
}